@import "~react-image-gallery/styles/css/image-gallery.css";

body {
  color: black;
  background: rgba(227, 227, 212, 0.636);
}

html,
body,
main {
  height: 100%;
  margin: 0px;
  scroll-snap-type: y mandatory;
}

section {
  height: 100%;
  margin: 0px;
  scroll-snap-align: start;
}
